.button {
    inline-size: 32px;
    block-size: 32px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.wrapper {
    max-inline-size: 900px;
    margin: auto;
}

.player {
    margin-block-start: 100px;
    position: relative;
}

.player video {
    inline-size: 100%;
    aspect-ratio: 16/9;
    vertical-align: middle;
    object-fit: cover;
    
}

.player-title {
    position: absolute;
    color: #e2e2e2;
    inset-block-start: 0;
    inset-inline-start: 20px;
}

.player-action{
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;  
    gap: 16px;
}

.player-progress {
    position: absolute;
    inset-block-end: 0;
    inset-inline: 0;
    display: flex;
    padding: 10px;
}

.player-progress input {
    flex: 1;
}

.player-overlay {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: .5s opacity;
}

.player:hover .player-overlay {
    opacity: 1;

}

.button:active {
    transform: scale(.9);
}


#play {
    background-image: url(https://firebasestorage.googleapis.com/v0/b/mfs-api-5e5f4.appspot.com/o/vplayer%2Fversion%2FUser%20interface%20design%2FDesign%20System%2Fplay.svg?alt=media&token=3d49746a-f945-4e7c-89d9-bc9c5ce58cfe) ;
}

#pause {
    background-image: url(https://firebasestorage.googleapis.com/v0/b/mfs-api-5e5f4.appspot.com/o/vplayer%2Fversion%2FUser%20interface%20design%2FDesign%20System%2Fpause.svg?alt=media&token=a673269d-58ea-4cae-8357-fa917adb9976);
}

#backward {
    background-image: url(https://firebasestorage.googleapis.com/v0/b/mfs-api-5e5f4.appspot.com/o/vplayer%2Fversion%2FUser%20interface%20design%2FDesign%20System%2F-10.svg?alt=media&token=7d47e120-f098-4ab4-b055-ba11e4abbb55);

}

#forward {
    background-image: url(https://firebasestorage.googleapis.com/v0/b/mfs-api-5e5f4.appspot.com/o/vplayer%2Fversion%2FUser%20interface%20design%2FDesign%20System%2F%2B10.svg?alt=media&token=c3a12f92-1cb6-40bb-8fa2-b6d55e9ee82c);
}





